@charset "utf-8";/* 영상,Tv 정보 */
.movie-detail{ padding-bottom: 0rem; }
.movie-detail .m-info{position: relative;}
.movie-detail .m-info .refresh{}
.movie-detail .m-info .refresh{
    margin: -5rem 0rem -1rem 8rem;
    color: #eeeeee;
    font-size: 16rem;
    vertical-align: middle;
}
.movie-detail .bgs{position: fixed;top: 0;left: 50%;right: 0;width: 100%;max-width: var(--mwide);transform: translateX(-50%);height: 100vw;max-height: 470rem;background: center top no-repeat;background-size: auto;opacity:0.3;overflow: hidden;filter:blur(2px);z-index: 0;}
.movie-detail .bgs::after{content:"";position: absolute;bottom: 0;left: 0;right: 0;height: 300rem;background-image: linear-gradient(180deg, transparent, #111111);}
.movie-detail .info{display: flex;flex-wrap: wrap;justify-content: space-between;flex-direction: row;}
.movie-detail .info .thum{display:block;position:relative; width: 100%; overflow: hidden;width: 45%;}
.movie-detail .info .thum .pics{display:block;position:relative;padding-bottom: calc(1200% / 780 * 93);width: 100%;overflow: hidden;width: 100%;border-radius: 6rem;background:#000000;}
.movie-detail .info .thum .pics .img{display: block;position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);width: 100%;object-fit: cover;max-width: inherit;min-width: 100%;height: 100%;background-color: #000000;}
.movie-detail .info .desc{width: calc(55% - 10rem);line-height:1.4;text-shadow: 0 0 3rem #000000;color: #ffffff;margin-top: -5rem;}
.movie-detail .info .desc .tit{color: #ffffff;font-size: 22rem;text-shadow: 0 0 3rem #000000;margin-bottom: 10rem;line-height: 1.3;/* display: flex; *//* flex-wrap: wrap; *//* gap: 7rem; *//* align-items: center; */}
.movie-detail .info .desc .sit{font-size:14rem;margin-top:5rem; color: #cccccc;}
.movie-detail .info .desc .tio{font-size:11rem; margin-top:5rem; color: #cccccc;}
.movie-detail .info .desc .star{margin-top: 2vw;font-size:20rem;}
.movie-detail .info .desc .star .ui-star{margin-left: -2rem}
.movie-detail .info .desc .star .ui-star i{font-size: clamp(17rem,5vw,20rem);}
.movie-detail .info .desc .cate{margin-top: 3vw;display: flex;flex-wrap: wrap;}
.movie-detail .info .desc .cate .ico{display: inline-flex;justify-content: center;border-radius: 10rem;padding: 4rem 5rem 4rem 5rem;margin: 2rem 4rem 1rem 0rem;font-size: 10rem;line-height: 1;font-family: 'Tahoma';color: #aaa;background: #1f6476;color: #fff;text-shadow: none;box-shadow: 0 0 3rem #00000057;white-space: nowrap;font-size: 11rem;}
.movie-detail .info .desc .lst{}
.movie-detail .info .desc .lst>li{font-size:12rem;color: #53a4bb;position: relative;padding: 0rem 0rem 0rem 20rem;word-break: break-all;}
.movie-detail .info .desc .lst>li a{color: #53a4bb;text-decoration: underline;}
.movie-detail .info .desc .lst>li+li{margin-top: 6rem;}
.movie-detail .info .desc .lst>li.vot{margin-top: 14rem;}
.movie-detail .info .desc .lst>li.opn{}
.movie-detail .info .desc .lst>li.tim{}
.movie-detail .info .desc .lst>li i{margin-right: 4rem;min-width: 14rem; position: absolute; left: 0rem; top: 3rem;}
.movie-detail .info .desc .lst>li b{font-weight: normal;}
.movie-detail .dins{margin-top: 20rem;display: flex;border: #30363d solid 1rem;border-radius: 5rem;justify-content: space-around;padding: 0rem 0rem;overflow: hidden;}
.movie-detail .dins .bt{font-size: 17rem;width: 100%;height: 34rem;background: rgb(0 0 0 / 38%);display: flex;justify-content: center;align-items: center;}
.movie-detail .dins .bt:disabled *{opacity:0.5;}
.movie-detail .dins .bt+.bt{border-left: #30363d solid 1rem;}
.movie-detail .dins .bt>em{font-size: 13rem;margin-left: 8rem;}
.movie-detail .dins .bt-scrap.on{}
.movie-detail .dins .bt-scrap.on i{font-weight: 900;color: #61dafb;}
.movie-detail .dins .bt-scrap.ani i{ animation: anilike 0.3s alternate 1;}
.movie-detail .vinf{margin: 20rem 0rem 20rem 0rem;color: #aaa; }
.movie-detail .vinf::-webkit-scrollbar {display: none;}
.movie-detail .vinf::-webkit-scrollbar-thumb {  box-shadow: none;}
.movie-detail .sect{ margin: 15rem 0rem 0rem 0rem;}
.movie-detail .sect  .tts{margin: 0rem 0rem 8rem 0rem;color: #ddd;}
.movie-detail .sect .lst{scroll-behavior: smooth;}
.movie-detail .sect .hbox{display: flex;justify-content: space-between;align-items: center;margin-bottom: 6rem;}
.movie-detail .sect .bt-nav{margin-right: -3rem;}
.movie-detail .sect .bt-nav .bt{width: 16rem;height: 20rem;border-radius: 16rem;padding: 0rem 3rem;}
.movie-detail .sect .bt-nav .bt:hover i{color: #61dafb;}
.movie-detail .sect .bt-nav .bt i{font-size: 15rem;color: #4a4a4a;}
.movie-detail .sect .bt-nav .bt.prev{ text-align: right; }
.movie-detail .sect .bt-nav .bt.next{ text-align: left; }

.movie-detail .cast{}
.movie-detail .cast .tts{margin: 0rem 0rem 5rem 0rem; color: #ddd;}
.movie-detail .cast .lst{display: flex;flex-wrap: nowrap;overflow-x: auto;overflow-y: hidden; margin: 0rem -20rem;padding: 0rem 10rem;}
.movie-detail .cast .lst::-webkit-scrollbar{height: 0rem; opacity:0}
.movie-detail .cast .lst .profile{min-width: calc(20% - 20rem);width: calc(20% - 20rem); margin: 0rem 10rem;}
.movie-detail .cast .lst .profile .name{font-size:10rem;line-height: 1;color: #dddddd;text-align: center;margin: 6rem -9rem 0rem -9rem;}
.movie-detail .cast .lst .profile .carc{font-size:9rem;color: #999999;text-align: center;margin: 4rem -9rem 0rem -9rem; max-height: 22rem;line-height: 1.1;-webkit-box-orient:vertical;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;word-break:break-all;}
.movie-detail .cast .lst .profile .pics{display:block;position:relative; margin: auto; padding-bottom: 100%; overflow: hidden;width: 100%; border-radius: 200rem; background:#000000;}
.movie-detail .cast .lst .profile .pics .img{display: block;position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);width: 100%;object-fit: cover;max-width: inherit;min-width: 100%;height: 100%;background-color: #424242;}
.movie-detail .movs{}
.movie-detail .movs .lst{display: flex;flex-wrap: nowrap;overflow-x: auto;overflow-y: hidden;margin: 5rem -20rem 0rem -20rem;padding: 0rem 15rem;}
.movie-detail .movs .lst::-webkit-scrollbar{height: 0rem; opacity:0}
.movie-detail .movs .box{position: relative;padding-bottom: calc(900% / 1600 * 70  - 10rem);background: #000;min-width: calc(70% - 20rem);width: calc(70% - 10rem);margin: 0rem 5rem; overflow: hidden;}
.movie-detail .movs .box:only-child{ padding-bottom: calc(900% / 1600 * 100 - 10rem); min-width: calc(100% - 20rem); width: calc(100% - 10rem); }
.movie-detail .movs .box .iframe{position: absolute;height: 100%;width: 100%;border: none;} 
.movie-detail .movs .box .pic{position: absolute;height: 100%;width: 100%;border: none;display: block;} 
.movie-detail .movs .box .pic .img{display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%; object-fit: cover; max-width: inherit; min-width: 100%; height: 100%; background-color: #000000; }
.movie-detail .movs .box .pic .ico{position: absolute;left: 50%;top: 50%;transform: translate(-50% ,-50%);z-index: 10;font-size: 20rem;opacity: 0.7;color: rgb(0 0 0 / 74%); background-image: linear-gradient(45deg, #ffffff00, #ffffff6e);box-shadow: #0000007d 0rem 0rem 4rem;border-radius: 100rem;width: 50rem;height: 50rem;display: flex;justify-content: center;align-items: center;padding: 0rem 0rem 0rem 5rem;}
.movie-detail .movs .box .pic .ico:before{}
.movie-detail .movs .box .pic .tit{z-index: 10;font-size: 12rem;display: block; color: #ffffffcc; line-height: 1.2;font-weight: 300;text-overflow: ellipsis;overflow: hidden; -webkit-box-orient: vertical;display: -webkit-box;word-wrap: break-word;}
.movie-detail .movs .box .pic .msg{position: absolute;left: 0;right: 0;bottom: 0;z-index: 10;padding: 10rem 12rem;background: rgb(0 0 0 / 40%);}
.movie-detail .post{}
.movie-detail .post .tts{}
.movie-detail .post .lst{display: flex;flex-wrap: nowrap;overflow-x: auto;overflow-y: hidden;margin: 5rem -20rem 0rem -20rem;padding: 0rem 15rem;}
.movie-detail .post .lst::-webkit-scrollbar{height: 0rem; opacity:0}
.movie-detail .post .box{min-width: calc(30% - 20rem);width: calc(30% - 20rem); margin: 0rem 5rem;}
.movie-detail .post .box .pic{display:block;position:relative;padding-bottom: 150%; width: 100%; overflow: hidden;width: 100%; border-radius: 6rem; background:#000000;}
.movie-detail .post .box .pic .img{display: block;position: absolute;left: 50%;top: 50%;transform: translate(-50% , -50%);width: 100%;object-fit: cover;max-width: inherit;min-width: 100%;height: 100%;background-color: #000000;}
.movie-detail .comp{display: flex;flex-wrap: wrap;margin-top: 30rem;margin-bottom: 0rem;gap: 5rem;}
.movie-detail .comp .logo{background-color: #ffffffc7;padding: 2rem 7rem 3rem;border-radius: 12rem;display: inline-flex;height: 24rem;align-items: center;max-width: 100%;font-size: 10rem;color: #000;} 
.movie-detail .comp .logo .img{max-height: 15rem;vertical-align: middle;max-width: 100%;}
.movie-detail .revw{margin: 5rem 0rem 0rem 0rem;}
.movie-detail .revw .tts{}
.movie-detail .revk{ margin: 20rem 0rem 0rem 0rem; }
.movie-detail .revk .tts{}
.movie-detail .revk .form{position: relative;border: 1rem solid #333333;background-color: rgb(40 40 41 / 13%);border-radius: 4rem;min-height: 40rem;padding: 8rem 10rem 10rem 10rem;}
.movie-detail .revk .form .rtext{border: none;resize: none;width: 100%;padding: 1rem;line-height: 1.36;max-height: 212rem;outline: none;word-break: break-all;height: 24rem;background: transparent;color: #999;min-height: 50rem;font-size: 13rem;}
.movie-detail .revk .form .num{position: absolute;right: 0rem;top: -31rem;}
.movie-detail .revk .bts{margin-top: 8rem;}
.movie-detail .revk .bts .btsend{width: 100%;background: rgb(0 0 0 / 38%);border-color: rgb(152 152 152 / 20%);}

.movie-detail .ui-loading-dot.on{height: calc(100dvh - 120rem);}
@keyframes anilike {
	0%{  transform: translateY(0rem) scale(1); }
	50%{ transform: translateY(0rem) scale(2); }
    100%{transform: translateY(0rem) scale(1); }
}

.movie-detail .m-info.skelt{}
.movie-detail .m-info.skelt *{border-radius: 5rem;}
.movie-detail .m-info.skelt p{background-color: rgb(0 0 0 / 40%);border-radius: 5rem;}
.movie-detail .m-info.skelt li{background-color: rgb(0 0 0 / 40%);}
.movie-detail .m-info.skelt .info{}
.movie-detail .m-info.skelt .info .desc{ margin-top: 0; }
.movie-detail .m-info.skelt .info .tit{ min-height: 40rem; }
.movie-detail .m-info.skelt .info .sit{}
.movie-detail .m-info.skelt .info .tio{ border-radius: 5rem; }
.movie-detail .m-info.skelt .info .star{ background: rgb(0 0 0 / 40%); border-radius: 5rem; }
.movie-detail .m-info.skelt .info .cate{ background: rgb(0 0 0 / 40%); }
.movie-detail .m-info.skelt .info .lst{}
.movie-detail .m-info.skelt .info .lst>li{ background: rgb(0 0 0 / 40%); min-height: 32rem; border-radius: 5rem; }
.movie-detail .m-info.skelt .info .thum{}
.movie-detail .m-info.skelt .info .thum .pics{background: rgb(0 0 0 / 40%);}
.movie-detail .m-info.skelt .sect{}
.movie-detail .m-info.skelt .sect .tts{background: rgb(0 0 0 / 40%);height: 20rem;width: 100rem;}
.movie-detail .m-info.skelt .sect .lst{/* background: rgb(0 0 0 / 40%); */}
.movie-detail .m-info.skelt .sect .profile{/* background: rgb(0 0 0 / 40%); */}
.movie-detail .m-info.skelt .sect .profile .pics{ background: rgb(0 0 0 / 40%); }
.movie-detail .m-info.skelt .sect .profile .name{background: rgb(0 0 0 / 40%);height: 16rem;margin: 6rem 0rem 0rem 0rem;}
.movie-detail .m-info.skelt .sect .profile .carc{background: rgb(0 0 0 / 40%);height: 13rem;margin: 3rem 0rem 0rem 0rem;}