@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* reset */ 
* {margin: 0px;padding: 0;box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section { display: block; }
body { line-height: 1.6; }
h1, h2, h3, h4, h5, h6, input, select, textarea, option, label, button {font-weight: normal;}
fieldset, img, abbr, acronym { border: 0 none; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
em {font-style: normal;}
p {vertical-align: baseline;}
hr { display: none; } 
.hidden{position: fixed; left: -99999rem; top: -99999rem;}
html, body {line-height: 1.6;font-family: 'Roboto',"Noto Sans KR",Arial,"Malgun Gothic",sans-serif;}
input , textarea{font-family: 'Roboto',"Noto Sans KR",Arial,"Malgun Gothic",sans-serif;}
html{font-size: 1px;}
@media screen and ( max-width:340px ) { 
    html{font-size: 0.9px;}    
}
@media screen and ( min-width:450px ) {
    html{font-size: 1px;}    
}
@media screen and ( min-width:600px ) {
    html{font-size: 1px;}    
}
body{overflow-y: scroll;background-color: #000000;color: #aaaaaa;}
body:not(.is-dark){}
a{color: #aaaaaa;text-decoration: none;}
button{cursor:pointer;background: none;border: none;padding: 0; color: #aaaaaa;}
select::-ms-expand {display:none;}
caption{display:none;}

[tabindex]{}

input::-webkit-input-placeholder {color: #666666; font-weight: normal;}
input:-ms-input-placeholder {color: #666666; font-weight: normal;}
textarea::-webkit-input-placeholder {color: #666666; font-weight: normal;} 
textarea:-ms-input-placeholder {color: #666666; font-weight: normal;} 

:root {
    --safe-top: env(safe-area-inset-top) ;
    --safe-bottom: env(safe-area-inset-bottom) ;
	--safe-watch: 0px;
    --mwide: 480px;
    --scrPad: 0rem;
}



#app{margin: 0rem 0rem;text-align: left;}
a, button{-webkit-tap-highlight-color: rgb(0 0 0 / 30%);}
:root {
  --safe-top: calc(env(safe-area-inset-top));
  --safe-bottom: calc(env(safe-area-inset-bottom));
  --safe-watch: 0px;
  /* --mwide: 30rem; */
  --mwide: 480px;
  --scrPad: 0px;
  --active-color: #3ecf8e;
  --inpu-bgc: #0c0c0c;
  --inpu-bdc: #303030;
  --inpu-bdr: 4px
}

i,em{
  @apply not-italic
}
html{font-size: 16px;}


.header{ height: calc(3.5rem + var(--safe-top));}


#app{margin: 0rem 0rem;text-align: left;}
a, button{-webkit-tap-highlight-color: rgb(0 0 0 / 30%);}

.body{}
/* .body::after{position: fixed;left: calc( 0px - var(--scrPad) );right: 0;top: 0;bottom: 0;content:"";background: url(/img/ogimage.png) #000 center bottom;background-size: cover;opacity: 0.3;z-index: -1;} */
.body::after{
    content: "";
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0.5;
    --angle: 180deg;
    --offset: 70%;
    mix-blend-mode: hard-light;
    --yellow: rgba(255,206,32,.8);
    --red: rgba(197,0,0,.8);
    --blue: rgb(154 189 222 / 80%);
    --cyan: rgba(15,255,169,.8);
    background: conic-gradient(from var(--angle) at 50% var(--offset),transparent 0deg,var(--blue) 72.0000010728836deg,var(--cyan) 144.0000021457672deg,var(--yellow) 216.00000858306885deg,var(--red) 288.0000042915344deg,transparent 1turn);
    background-color: #000;
}
.body::before{
    content: "";
    --ds-background-200: #000;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    --angle: 180deg;
    --offset: 70%;
    mix-blend-mode: hard-light;
    --yellow: rgba(255,206,32,.8);
    --red: rgba(197,0,0,.8);
    --blue: rgba(0,89,171,.8);
    --cyan: rgba(15,255,169,.8);
    background: radial-gradient(150% 150% at 50% 140%, transparent 0, transparent 50%, var(--ds-background-200) 76%);
}
.body>.wrap{min-height: 100dvh;max-width: var(--mwide);margin: auto;background: #111111; display: flex; flex-direction: column;}

.body.is-lock{height: 100%;overflow-y:initial;padding-right: var(--scrPad);}
html.is-lock {height: 100%;width: 100%;overflow: hidden;position: fixed;}



.container{position: relative;z-index: 100;max-width: var(--mwide);margin: auto;background: #111111; flex: 1 1 0%;display: flex;} 
.container .contents{ display: block; margin: 0rem 0rem; padding: 1.5rem 1.25rem; width: 100%; flex: 1 1 0%;}
.pagehead{height: 3.125rem;}
.pagehead>.inr{height: 3.125rem;display: flex;align-items: center;justify-content: space-between;position: fixed;left: 0;right: 0;top: 0;background: #555;padding: 0rem 1.25rem;z-index: 500;}
.pagehead .ldt{position: relative;}
.pagehead .cdt{position: absolute;left: 0.24rem;right: 0.24rem;text-align: center;z-index: 0;}
.pagehead .cdt .htit{font-size:17rem; font-weight: 700;}
.pagehead .rdt{ position: relative; }
.pagehead .rdt .bt{color: #aaaaaa;}
.pagehead .rdt .bt + .bt{margin-left: 1.125rem;}


/* 헤더 */
/* .header{height: calc( 3.5rem + var(--safe-top) + var(--safe-watch) );text-align:center;display:block;z-index: 500;position: relative;}
.header>.inr{display:flex;height: calc( 3.5rem + var(--safe-top) + var(--safe-watch)  );align-items: center;justify-content: space-between;align-items: center;position: fixed;left: 0;right: 0;z-index: 500;top: 0rem;background: rgb(50 50 50 / 33%);border-bottom: rgb(58 58 58 / 38%) solid 1px;padding: 0rem 1.25rem;padding-top: calc(  var(--safe-top) + var(--safe-watch)  );touch-action: none;transition: background-color 0.3s;left: 50%;width: 100%;max-width: var(--mwide);transform: translateX(-50%);margin-left: calc( 0px - var(--scrPad) /2 ); overflow: hidden;}
.header:not(.home).main>.inr,
.header.home.trans>.inr{background: rgb(49 49 49 / 40%);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.header.home{height: 0rem;}
.header.home>.inr{ background-color: transparent;border-color: transparent;}
.header.trans{height: 0rem; }
.header.hide{display: none;}
.header.trans>.inr{background-color: rgb(0 0 0 / 70%);border-color: transparent;}
.header.trans .htit{display: none;}
.header.trans .rdt{} 

.header .ldt{ display: flex; align-items: center; }
.header .cdt{position: absolute;left: 0.24rem;right: 0.24rem;text-align: center;z-index: 0;}
.header .htit{font-size: 1.125rem;font-weight: 700;color: #ffffff;padding-top: 0rem;margin: 0rem;}
.header .bt.back+.htit{margin-left: 1rem;}
.header .rdt{ display: flex; align-items: center; }

.header .bt{background: no-repeat center;background-size: 1.5rem auto;color: #eeeeee;display: flex;align-items: center;justify-content: center;}
.header .bt+.bt{margin-left: 10rem;}
.header .bt.gnb{display:block;position: relative;height: 2.1875rem;width: 2.1875rem;margin-right: 0rem;transition: all 0.2s;}
.header .bt.gnb::before{top: 8rem;}
.header .bt.gnb>b{top: 16rem;}
.header .bt.gnb::after{top: 1.5rem;}
 */


  
/* 하단메뉴바 */
.menubar{/* transition: transform 0.3s;height: 3.75rem;height: calc( 3.75rem + var(--safe-bottom) ); */}
.menubar>.inr{/* position: fixed;left: 0;bottom: 0; z-index: 500;height: 13rem;height: calc( 3.75rem + var(--safe-bottom) );background: #1c1c1c;border-top: #2e2e2e solid 1px;left: 50%;width: 100%;max-width: var(--mwide);transform: translateX(-50%);margin-left: calc( 0px - var(--scrPad) /2 ); */}
.menubar.hide{/* transform: translateY(100%); */}
.menubar.hide>.inr{ }

.menubar .menu{/* width: 100%;height:100%;align-items: center;display: flex;padding: 0rem 1.25rem 0rem 1.25rem;justify-content: space-between; */}
.menubar .menu>li{/* width: 100%;height: 100%;text-align: center; */}
.menubar .menu>li .bt{/* height: 100%;display:flex;flex-direction: column;align-items: center;justify-content: center;margin: 0rem auto 0rem auto;padding: 0.1875rem 0rem 0.125rem 0rem;padding-bottom: calc(0.125rem + var(--safe-bottom));position: relative; */}
.menubar .menu>li .bt em{/* display:block;font-size: 0.6875rem;margin-top: 0.24rem; */}

.menubar .menu>li.active .bt{}
.menubar .menu>li.active .bt .pic{ /* border-color: #52a8ff;  */}
.menubar .menu>li.active .bt i,
.menubar .menu>li .bt.router-link-active i{/* font-weight:900; */}
.menubar .menu>li .pic{/* width: 1.75rem;height: 1.75rem;display: block;position: relative;border-radius: 100rem;overflow: hidden;margin-bottom: -5rem;border: #aaaaaa solid 0.1875rem; */}
.menubar .menu>li .pic .img{/* position: absolute;width: 100%;left: 0;top: 0;object-fit: cover;height: 100%;width: 100%; */}


.btn{
    @apply flex-shrink-0 rounded-md text-sm gap-x-1.5 px-2.5 py-1.5 inline-flex items-center justify-center shadow-sm ring-1 ring-inset 
        ring-gray-300 
        bg-gray-50 
        bg-white/5
        text-gray-200
        ring-white/10
        hover:bg-white/10 
        disabled:bg-gray-800 
        aria-disabled:bg-gray-800 
        focus-visible:ring-2;
    }
.btn.btn-primary{ @apply  text-white bg-primary/40 hover:bg-slate-700/100 ring-white/10; }
.btn.btn-xs{ @apply text-[0.7rem] px-2 py-0.5 rounded font-normal }
.btn.btn-sm{ @apply text-xs px-1.5 py-1.5 rounded font-normal }
.btn.btn-md{ @apply text-sm px-2.5 py-1.5 }
.btn.btn-lg{ @apply text-sm px-3.5 py-2 }
.btn.btn-xl{ @apply text-base px-5 py-3 }
.btn:disabled{ @apply opacity-70 text-opacity-50 cursor-not-allowed; }

body.is-lock{height: 100%;overflow-y:initial;padding-right: var(--scrPad);}
html.is-lock {height: 100%;width: 100%;overflow: hidden;position: fixed;}

/* 팝업 알럿 */
.ui-alert{white-space:nowrap;position:fixed;left:0rem;right:0rem;top:0rem;bottom:0;text-align:center;z-index:1500;background-color: rgba(0,0,0,0.5);outline:none; padding: 0rem 0rem calc(20vh + var(--safe-bottom)) 0rem}
.ui-alert>.pbd{
    display:inline-block; max-width: calc(100vw - 1.6rem); width: 19.75rem;vertical-align:bottom;text-align:left;position:relative;white-space:normal;z-index:200;background-color: #ffffff;border-radius: 1rem;overflow: hidden;box-shadow: rgba(0,0,0,0.2) 2rem 2rem 7rem;
    @apply bg-white dark:bg-slate-800 dark:text-white
}
.ui-alert:after{content:''; width:0; height:100%; display:inline-block; vertical-align:middle;}
.ui-alert>.pbd>.phd{display:none;padding: 1.6rem 1.25rem 0rem 1.25rem;box-sizing:border-box; text-align: center;font-size: 1rem;font-weight: 700;margin-bottom: -17rem;}
.ui-alert>.pbd>.phd .ptit{font-weight: 700;font-size:1rem;}
.ui-alert>.pbd>.phd.is-tit{display: inline-block; width: 100%;}
.ui-alert>.pbd>.phd.is-tit+.pct{padding-top: 1.2rem;}
.ui-alert>.pbd>.pct{overflow:auto;padding: 1.875rem 1.25rem 1.875rem 1.25rem;text-align:center;font-size: 0.9375rem;line-height: 1.5;min-height: 6.375rem;display: flex;justify-content: center;align-items: center;}
.ui-alert>.pbd>.pct .msg{word-break: break-all; line-height: 1.8;}
.ui-alert>.pbd>.pct p{}
.ui-alert>.pbd>.pct .under{}
.ui-alert>.pbd>.pct b{color: #f0344d;font-weight: 700;}
.ui-alert>.pbd>.pbt{padding: 0rem 0rem 0rem 0rem;box-sizing:border-box;text-align:center;display: flex;}
.ui-alert>.pbd>.pbt .btn { font-size: 1rem; flex-shrink:1; width:100%;border-radius: 0rem;border: #33445c 0rem solid; box-shadow: none;  height: 3.25rem;font-weight: 400;}
.ui-alert>.pbd>.pbt .btn-confirm{@apply bg-slate-500 text-white dark:bg-slate-700 dark:text-white}
.ui-alert>.pbd>.pbt .btn-cancel{@apply bg-slate-500/80 text-white dark:bg-slate-700/70 dark:text-white}
.ui-alert>.pbd .btn-close{width: 24rem;height: 24rem;position:absolute;right: 10rem;top: 10rem;font-size: 1.125rem;overflow:hidden;}

/* 로딩 갤럭시 */
.ui-load-glx{display: inline-block;position: relative;width: 1.2rem;height: 1.2rem;vertical-align: middle;} 
.ui-load-glx.abs{position: absolute;left: 0;right: 0;bottom: 0;top: 0;display: flex;width: auto;height: auto;align-items: center;justify-content: center;}
.ui-load-glx.abs .gbx{}
.ui-load-glx.static{position: static;}
.ui-load-glx>.gbx{width: 1.2rem;height: 1.2rem;display: inline-block;}
.ui-load-glx>.gbx .bx{animation: rotate 1.2s linear infinite;display: flex;position: relative;width: 100%;height: 100%;}
.ui-load-glx>.gbx .bx i{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.ui-load-glx>.gbx .bx i::before{animation: bounce 0.5s alternate infinite;position: absolute;left: 50%;top: 50%;width: 20%;height: 20%;background: #0481ff;border-radius: 10px;display: inline-flex;content:"";}
.ui-load-glx>.gbx .bx i:first-child::before {background: #00d593;}
.ui-load-glx>.gbx .bx i:nth-child(1){transform: rotate(0deg);}
.ui-load-glx>.gbx .bx i:nth-child(2){transform: rotate(90deg);}
.ui-load-glx>.gbx .bx i:nth-child(3){transform: rotate(180deg);}
.ui-load-glx>.gbx .bx i:nth-child(4){transform: rotate(270deg);}

.ui-load-glx.full{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 2000;background: transparent;width: auto;height: auto; padding-right: calc(0px - var(--scrPad) / 2)}
.ui-load-glx.full>.gbx{position: absolute;left: 50%;top: 50%; width: 3rem; height: 3rem; transform:scale(1) translate3d(-50%, -50%, 0);}
.ui-load-glx.full>.gbx .bx{  }
@keyframes bounce {
    0%{   transform: translateY(20%) ; }
    30%{  transform: translateY(30%) ; }
    100%{ transform: translateY(100%); }
}
@keyframes rotate {
    0%{ transform: rotate(-360deg); }
}
.ui-loadmore .btn-load i{animation:loading-rotate 1s infinite steps(8);}
.ui-loadmore .btn-load{position:absolute;left:-9999rem;width:100%;box-sizing:border-box;border-radius: 5rem;border:none;text-align:center;height: 3rem;padding:0 2rem;box-sizing:border-box;}
.ui-loadmore.error .loading{display: none;}
.ui-loadmore.hide{display: none;}
.ui-loadmore.error .btn-load{ position:relative; left:auto; width:100%; height: 3rem; }
@keyframes loading-rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
@-webkit-keyframes loading-rotate {
    from { -webkit-transform: rotate(0deg); } 
    to   { -webkit-transform: rotate(360deg); }
}


/* 플로팅 탑버튼 글쓰기버튼 */
.floatnav{position:fixed;text-align: right;padding: 0rem 1.25rem;left: 50%;max-width: var(--mwide);width: 100%;height: 0;z-index: 500;transition: all 0.3s;bottom: calc(4.875rem + var(--safe-bottom));transform: translate3D(-50%,5.625rem,0rem);transition: transform 0.2s;}
.floatnav.is-top{bottom: 1.25rem;bottom: calc(1.25rem + var(--safe-bottom));transition: none;}
.floatnav .bt{/* font-size: 0rem;width: 52rem;height: 3.25rem;display: inline-flex;align-items: center;justify-content: center;background: no-repeat #555555;background-size: 100% auto;margin: 0.875rem auto 0 auto;border-radius: 35rem;box-shadow: 0rem 0rem 6rem rgb(0 0 0 / 49%); */}
.floatnav .bt i{font-size: 1.125rem; line-height: 1;justify-content: center; align-items: center;}
.floatnav .bt::before{}
.floatnav .bt.top{ background: rgb(255 255 255 / 70%);border: solid rgba(0, 0, 0, 0.1) 1px;text-align: center;width: 2.8rem;height: 2.8rem;color: #000;}
.floatnav.on-top{transform: translate3D(-50%,-4rem,0rem);transition: transform 0.2s;}
.floatnav.on-top .bt.top{}

.movie-list~.floatnav.on-top{bottom: calc(7.95rem + var(--safe-bottom));}


::-webkit-scrollbar{  width:10px;  height:10px;}
::-webkit-scrollbar-track{background-color: #ededed;}
::-webkit-scrollbar-corner{background-color: transparent;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{width: 10px; border-radius:7px; background-color: #00000044;border: solid 3px transparent; background-clip: content-box;}
::-webkit-scrollbar-thumb:hover{background-color:#aaaaaa;}

::-webkit-scrollbar-track{background-color: #151515;}
::-webkit-scrollbar-thumb{background-color: #ffffff22;}
::-webkit-scrollbar-thumb:hover{background-color:#444;}

.scrollbar-hidden::-webkit-scrollbar{display: none;}


