@charset "utf-8";
.popup{
    
    
}
.popup .pbd{
    
}
.popup .pbd .phd{}
.popup .pbd .phd>.inr{
    
    /* padding-top: calc(var(--safe-top) + var(--safe-watch)); */
    /* height: calc(3.5rem + var(--safe-top) + var(--safe-watch));  */
 }
 .popup .pbd .phd.trans>.inr{
 
 }
 .popup .pbd .phd>.inr .ptit{
    
 }
.popup .pbd .pct{ 
    
    
}
.popup .pbd .pct::-webkit-scrollbar{}
.popup .pbd .pct .poptents{ 
    
}
.popup .btn-pop-close{

}

/* 플로팅 탑버튼 글쓰기버튼 */
/* .floatpop{position:fixed;text-align: right;padding: 0rem 1.25rem;left: 50%;max-width: var(--mwide);width: 100%;height: 0;z-index: 500;transition: all 0.3s;bottom: calc(2rem + var(--safe-bottom));transform: translate3D(-50%,5.625rem,0rem);transition: transform 0.2s;} */
/* .floatpop .bt{font-size: 0rem;width: 52rem;height: 3.25rem;display: inline-block;background: no-repeat #555555;background-size: 100% auto;margin: 0.875rem auto 0 auto;border-radius: 35rem;box-shadow: 0rem 0rem 6rem rgb(0 0 0 / 49%);} */

/* .floatpop .bt.top{ background: rgb(255 255 255 / 70%);border: solid rgba(0, 0, 0, 0.1) 1px;text-align: center;width: 2.8rem;height: 2.8rem;color: #000;} */
/* .floatpop.on-top{transform: translate3D(-50%,-4.2rem,0rem);transition: transform 0.2s;} */
